.nav-container {
  background-color: #191919;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 20px 50px 20px 50px;
}

.nav-a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

.nav-a:hover {
  border-bottom: 2px solid white;
}

.logo-img {
  max-width: 100%;
  max-height: 50px;
}

#nav-icon {
  padding-right: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191919;
  padding-top: 20px;
}

.footer-p {
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #BDBDBD;
  font-size: 100%;
}

.hero-div {
  background-color: #191919;
  position: relative;
}

.hero-img {
  max-width: 100%;
}

.hero-text-placement-container {
  position: absolute;
  top: 40%;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-header {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.9em;
}

.cta-button {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  background-color: #3F3F3F;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
}

.hero-bottom-edge-container {
  background-color: #191919;
  padding-bottom: 100px;
  margin: 0;
}

.main-featured-h2 {
  font-family: "Ubuntu", sans-serif;
  padding: 50px 0 20px 10%;
}

.featured-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10% 60px 10%;
}

.featured-product {
  width: 17%;
  background-color: #3F3F3F;
}

.featured-img {
  max-width: 100%;
}

.featured-h4, .featured-p {
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.featured-h4 {
  padding: 10px 0 5px 0;
}

.featured-p {
  padding: 5px 0 10px 0;
  font-size: small;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.products-h2 {
  font-family: "Ubuntu", sans-serif;
  padding: 50px 0 20px 10%;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10% 60px 10%;
}

.product-card-container {
  max-width: 17%;
  min-width: 100px;
  margin: 0 1% 20px 0;
  background-color: #3F3F3F;
}

.product-img {
  max-width: 100%;
}

.product-h4, .product-p {
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.product-h4 {
  padding: 10px 0 5px 0;
}

.product-p {
  padding: 5px 0 10px 0;
  font-size: small;
}

.main-detail-h1 {
  margin-left: 20%;
}

.detail-container {
  display: flex;
  margin: 0 20%;
}

.details-img {
  max-width: 30%;
}

.details-text-container {
  background-color: #3F3F3F;
  display: grid;
}

.details-h2 {
  color: #ffffff;
}

.details-p {
  color: #ffffff;
}

.details-price-p {
  color: #ffffff;
}

.cart-button-container i:hover {
  cursor: pointer;
}

.fas {
  color: #ffffff;
  font-size: 2rem;
}

/* temp code storage*/
/*<i class="fas fa-trash-alt"></i>*/
.loader {
  border: 5px solid #191919;
  border-top: 5px solid whitesmoke;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.message {
  width: 100%;
  padding: 0.9rem;
  border: 1px solid black;
  color: black;
}

.message.error {
  border-color: red;
  color: white;
  background: red;
}

.message.warning {
  border-color: orange;
  color: white;
  background: orange;
}

.message.success {
  border-color: green;
  color: white;
  background: green;
}

/*# sourceMappingURL=output.css.map */
