@use 'variables';


.admin-form-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 10px 10px 10px grey;
}

.admin-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: variables.$tertiary-color;
    box-shadow: 10px 10px 10px grey;
}

.admin-title-container, .admin-price-container, .admin-image-container, .admin-description-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: variables.$tertiary-font;
}

.admin-button-container {
    align-self: center;
}

.admin-button {
    background-color: variables.$tertiary-color;
    color: white;
    margin-bottom: 30px;
    font-family: variables.$tertiary-font;
    font-size: 1.2rem;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button-container {
    align-self: center;
}

.logout-button {
    background-color: variables.$tertiary-color;
    color: white;
    margin-bottom: 30px;
    font-family: variables.$tertiary-font;
    font-size: 1.2rem;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.admin-h2 {
    font-family: variables.$primary-font;
    color: variables.$text-color-dark;
    align-self: center;
}

.admin-title, .admin-price, .admin-image, .admin-description {
    background-color: lightgrey;
    margin-bottom: 25px;
    border-radius: 5px;
    border: transparent;
}

.admin-description-h3 {
    font-family: variables.$primary-font;
    color: variables.$text-color-light;
    align-self: center;

}

.admin-product-link {
    text-decoration: underline;
    color: variables.$secondary-color;
}

@media only screen and (min-width:991px) {
    .admin-container {
        display: flex;
        border-radius: 5px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .admin-form-container {
        max-width: 30%;
        min-width: 30%;
        margin-left: 20%;
        border-radius: 10px 0 0 10px;
    }

    .admin-h2 {
        font-size: 2em;
    }

    .admin-title-container, .admin-price-container, .admin-image-container, .admin-description-container {
        min-width: 180px;
        font-size: 1.2rem;
        margin: 5px;
    }

    .admin-title, .admin-price, .admin-image, .admin-description {
        padding: 20px 20px;
        font-size: 1.2rem;
    }

    .admin-info-container {
        max-width: 30%;
        min-width: 30%;
        margin-right: 20%;
        padding: 85px 5% 0 5%;
        border-radius: 0 10px 10px 0;
    }

    .admin-description-h3 {
        line-height: 1.5em;
        font-size: 1.5em;
    }
}

@media only screen and (min-width:350px) and (max-width:990px) {
    .admin-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .admin-form-container {
        border-radius: 10px 10px 0 0;
        max-width: 300px;
        min-width: 300px;
    }

    .admin-h2 {
        font-size: 2em;
    }

    .admin-title, .admin-price, .admin-image, .admin-description {
        padding: 20px 20px;
        font-size: 1.2rem;
    }

    .admin-info-container {
        max-width: 300px;
        min-width: 300px;
        padding: 20px;
        border-radius: 0 0 10px 10px;
    }

    .admin-description-h3 {
        line-height: 1.3em;
        font-size: 1.3em;
    }
}

@media only screen and (min-width:200px) and (max-width:349px) {
    .admin-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .admin-form-container {
        border-radius: 10px 10px 0 0;
        max-width: 200px;
        min-width: 000px;
    }

    .admin-h2 {
        font-size: 1.7em;
    }

    .admin-title-container, .admin-price-container, .admin-image-container, .admin-description-container {
        min-width: 180px;
        font-size: 1.2rem;
        margin: 5px;
    }

    .admin-title, .admin-price, .admin-image, .admin-description {
        padding: 10px 10px;
        font-size: 0.9rem;
    }

    .admin-info-container {
        max-width: 200px;
        min-width: 200px;
        padding: 20px;
        border-radius: 0 0 10px 10px;
    }

    .admin-description-h3 {
        line-height: 1.2em;
        font-size: 1.2em;
    }

}