@use 'variables';

.cart-container-main {
    display: flex;
}

.cart-h1 {
    margin-left: 20%;
    font-family: variables.$primary-font;
}

.cart-h2 {
    font-family: variables.$primary-font;
}

.cart-container {
    display: flex;
    margin: 0 0 0 20%;
    flex-direction: column;
}

.cart-item-container {
    display: flex;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px grey;
    border-radius: 25px;
}

.cart-item-image-a {
    max-width: 30%;
    background-color: white;
    border-radius: 25px 0 0 25px;
}

.cart-img {
    max-width: 100%;
    border-radius: 25px 0 0 25px;
}

.cart-item-text-a {
    background-color: variables.$tertiary-color;
    max-width: 100%;
    min-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 25px 25px 0;
}

.cart-item-title {
    color: variables.$text-color-light;
    padding-left: 15px;
    padding-right: 15px;
    font-family: variables.$seconday-font;
}

.cart-item-prise-p {
    color: variables.$text-color-light;
    align-self: flex-end;
    padding-right: 15px;
    font-family: variables.$primary-font;
}

.cart-total-container {
    min-width: 20%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
}

.cart-total-h4 {
    background-color: variables.$tertiary-color;
    color: variables.$text-color-light;
    font-family: variables.$seconday-font;
    text-decoration: underline;
    align-self: flex-start;
    padding: 20px;
    border-radius: 25px;
    margin: 0;
}