@use 'variables';

.cart-h1 {
    margin-left: 20%;
    font-family: variables.$primary-font;
}

.cart-container {
    display: flex;
    margin: 0 20%;
    flex-direction: column;
}

.cart-item-container {
    display: flex;
    margin-bottom: 20px;
}

.cart-img {
    max-width: 20%;
}