@use 'variables';

.details-h2 {
    color: blue;
}

.details-img {
    max-width: 20%;
}

.cart-button-container i:hover {
    cursor: pointer;
}

/* temp code storage*/

/*<i class="fas fa-trash-alt"></i>*/