@use 'variables';

.edit-container {
    display: flex;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.edit-form-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30%;
    min-width: 30%;
    margin-left: 20%;
    border-radius: 10px 0 0 10px;
}

.edit-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: variables.$tertiary-color;
    max-width: 30%;
    min-width: 30%;
    margin-right: 20%;
    padding: 30px 5%;
    border-radius: 0 10px 10px 0;
}

.edit-title-container, .edit-price-container, .edit-image-container, .edit-description-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    min-width: 80%;
    font-family: variables.$tertiary-font;
    font-size: 1.2rem;
}

.edit-button-container {
    align-self: center;
}

.uppdate-button {
    background-color: variables.$tertiary-color;
    color: white;
    margin-bottom: 30px;
    font-family: variables.$tertiary-font;
    font-size: 1.2rem;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-button-container {
    display: flex;
}

.fa-toggle-on, .fa-toggle-off {
    cursor: pointer;
}

.delete-button-container {
    align-self: center;
}

.delete {
    background-color: variables.$tertiary-color;
    color: white;
    margin-bottom: 30px;
    font-family: variables.$tertiary-font;
    font-size: 1.2rem;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-h2 {
    font-family: variables.$primary-font;
    color: variables.$text-color-dark;
    align-self: center;
}

.edit-title, .edit-price, .edit-image, .edit-description {
    background-color: lightgrey;
    margin-bottom: 25px;
    border-radius: 5px;
    border: transparent;
    padding: 20px 20px;
    font-size: 1.2rem;
}

.edit-description-h3 {
    font-family: variables.$primary-font;
    color: variables.$text-color-light;
    align-self: center;
    line-height: 1.7em;
    font-size: 1.7em;
}