@use 'variables';

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.main-featured-h2 {
    font-family: variables.$primary-font;
    padding: 20px 0 20px 10%;
}

.featured-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10% 60px 10%;
}

.featured-product {
    max-width: 17%;
    min-width: 200px;
    background-color: variables.$tertiary-color;
    box-shadow: 10px 10px 10px grey;
    border-radius: 25px;
    transition-property: box-shadow;
    transition-duration: 0.5s;
    margin-right: 30px;
    margin-bottom: 30px;
}

.featured-product:hover {
    box-shadow: 20px 20px 10px grey;
}
.featured-img {
    max-width: 100%;
    border-radius: 25px 25px 0 0;
}

.featured-h4, .featured-p {
    text-align: center;
    color: variables.$text-color-light;
    font-family: variables.$seconday-font;
    margin: 0;
}

.featured-h4 {
    padding: 10px 0 5px 0;
}

.featured-p {
    padding: 5px 0 10px 0;
    font-size: small;
}