@use 'variables';

.message {
    width: 100%;
    padding: 0.9rem;
    color: black;
    text-align: center;
}

.message.error {
    color: red;
    font-family: variables.$tertiary-font;
}

.message.warning {
    color: red;
    font-family: variables.$tertiary-font;
}

.message.success {
    color: green;
    font-family: variables.$tertiary-font;
}