$primary-color: #191919;
$text-color-dark: #000000;
$text-color-light: #ffffff;

$primary-font: 'Ubuntu', sans-serif;
$seconday-font:  'Roboto', sans-serif;
$tertiary-font:  'Open Sans', sans-serif;
 
